include ./metatags_webapp.pug
include ../includes/components/navigation_off_canvas.pug
<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        +metatagsWebApp()
        block metatags
        link(rel="stylesheet", href="./css/style.css")
    body
        +navigationOffCanvas([['Home'],['Gallery'], ['Pages'], ['News'], ['Contact'] ])
        block content
        script(src="./js/script.js")
