section.Banner
    .Banner-container
        .Banner-copy
            h4.Banner-subtittle Welcome to
            h2.Banner-title Grand
                span Hotel
            p.Banner-description A place to experience and enjoy the life
