section.Clients
    .Clients-container
        .Clients-info
            .Clients-infoData
                p.Clients-infoData-title Great Arrived
                h3.Clients-infoData-number 1200
            .Clients-infoData
                p.Clients-infoData-title Archivements
                h3.Clients-infoData-number 53
            .Clients-infoData
                p.Clients-infoData-title Total Boarding
                h3.Clients-infoData-number 7400
            .Clients-infoData
                p.Clients-infoData-title Coffe Copes
                h3.Clients-infoData-number 150

        .Clients-card
            h2.Clients-cardTitle Our
                span Gust
            p.Clients-cardSubtitle Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, nihil porro a quis.
            .Clients-cardTweet
                img.Clients-cardTweetImg(src="img/05.jpg", alt="Cliente")
                h4.Clients-cardTweetName Alex Chip
                p.Clients-cardTweetDesc Desarrollar Web
            p.Client-cardDescription Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea et, assumenda saepe obcaecati voluptate, delectus exercitationem perferendis debitis corporis iusto sed totam adipisci. Eaque ea, aspernatur maxime est recusandae rem!



