section.Features
    .Features-container
        .Features-item
            .Features-info
                h2.Features-number 01
                h3.Features-title SuperSuite
                p.Features-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem et sed, dolor in nobis voluptatem? Provident laudantium vel quas placeat aut, iste dicta a quos. Quisquam minus amet consequuntur totam?
                p.Features-price 200
                a.Features-buttonBuy.button(href="#") Reservar
                a.Features-buttonBuy.button(href="#") Pagar
            .Features-img
                img(src="./public/img/01.jpg", alt="Suite01")
                a.Features-buttonView.button(href="#") Ver

        .Features-item
            .Features-info
                h2.Features-number 02
                h3.Features-title Recreación
                p.Features-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem et sed, dolor in nobis voluptatem? Provident laudantium vel quas placeat aut, iste dicta a quos. Quisquam minus amet consequuntur totam?
                p.Features-price 200
                a.Features-buttonBuy.button(href="#") Reservar
                a.Features-buttonBuy.button(href="#") Pagar
            .Features-img
                img(src="./public/img/02.jpg", alt="Suite01")
                a.Features-buttonView.button(href="#") Ver

        .Features-item
            .Features-info
                h2.Features-number 03
                h3.Features-title Naturaleza
                p.Features-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem et sed, dolor in nobis voluptatem? Provident laudantium vel quas placeat aut, iste dicta a quos. Quisquam minus amet consequuntur totam?
                p.Features-price 200
                a.Features-buttonBuy.button(href="#") Reservar
                a.Features-buttonBuy.button(href="#") Pagar
            .Features-img
                img(src="./public/img/04.jpg", alt="Suite01")
                a.Features-buttonView.button(href="#") Ver


