footer.Footer
    .Footer-container
        .Footer-logo
            h1.Footer-logoTitle: a.Footer-logoLink(href="/") Grand Hotel
            ul.Footer-socialList
                li.Footer-socialItem: a.Footer-socialLink(href="").icon-facebook
                li.Footer-socialItem: a.Footer-socialLink(href="").icon-twitter
                li.Footer-socialItem: a.Footer-socialLink(href="").icon-github
        .Footer-news
            h4.Footer-newsTitle  Lastest News
            p.Footer-newsDescription Lorem ipsum dolor sit amet consectetur adipisicing elit.
            p.Footer-newsDescription Lorem ipsum dolor sit amet consectetur adipisicing elit.
            p.Footer-newsDescription Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .Footer-flicker
            h4.Footer-flickerTitle Flicker
            img.Footer-flickerImg(src="./public/img/01.jpg", alt="")
            img.Footer-flickerImg(src="./public/img/02.jpg", alt="")
            img.Footer-flickerImg(src="./public/img/03.jpg", alt="")
            img.Footer-flickerImg(src="./public/img/04.jpg", alt="")
            img.Footer-flickerImg(src="./public/img/05.jpg", alt="")
            img.Footer-flickerImg(src="./public/img/06.jpg", alt="")
        .Footer-contacts
            h4.Footer-contactsTitle Contacts
            p.Footer-contactsAddress Address:
                span San Pedro Yepocapa
            p.Footer-contactsPhone Phone:
                span (+502) 4098 4950
            p.Footer-contactsEmail Email:
                span alexchip32@gmail.com
        .Footer-copyRight
            p.Footer-copyRightTitle
                | Alex Chip &copy;
