section.Gallery
    .Gallery-containerInfo
        h3.Gallery-title Our
            span Gallery
        p.Gallery-description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis excepturi animi autem quam veniam.
section.Gallery-containerImgs
    img.Gallery-img(src="img/01.jpg")
    img.Gallery-img(src="img/02.jpg")
    img.Gallery-img(src="img/03.jpg")
    img.Gallery-img(src="img/04.jpg")
    img.Gallery-img(src="img/05.jpg")
    img.Gallery-img(src="img/06.jpg")
    img.Gallery-img(src="img/banner.jpg")
    img.Gallery-img(src="img/01.jpg")

section.Gallery-footer
    .Gallery-footerContainer
        p.Gallery-footerTitle Dont Resitate? Fell free to make a call With Us +1 2345 6789 123
        a(href="#").button.Gallery-footerButton Call now


