section.OurHotel
    .OurHotel-container
        .OurHotel-info
            h3.OurHotel-title Introduce Our Hotel
            p.OurHotel-description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias similique quasi autem.
            .OurHotel-buttonContainer
                a.OurHotel-buttonMas(href="#"): span +
                a.OurHotel-buttonMenos(href="#"): span -
        .OurHotel-img
            img(src="./public/img/02.jpg", alt="Our Hotel")
        .OurHotel-card
            p.OurHotel-cardDescription Vea nuestras Suits
