// Colors

$primary-color: hsl(40,70%,60%);
$secondary-color: #333;

$font-color1: #333;
$font-color2: #FFF;

// Variables de BreakPoints

$bp-large: 1024px;
$bp-medium: 768px;

// Otros
$gutter: 1em;
